$background-color: #fff;

.container {
  padding: 2rem;
  background-color: $background-color;
  height: 100%;
  text-align: center;
}

.center {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}